<!DOCTYPE html>
<html lang="en">

<head> 
<title>insta485</title>
</head> 

<body>
	<a href = "/"> Home </a>
	<a href = "/explore/"> Explore </a>
	<a href = "/u/{{logname}}/">{{logname}} </a>
	
	<!-- posts by logname -->
	{% for post in posts: %}
		<img src="/uploads/{{post.profilename}}" alt="owner_img">
		<a href ="/u/{{post.owner}}/"> {{post.owner}} </a>
		<img src="/uploads/{{post.filename}}" alt ="post_img">
		<p>{{post.filename}}</p>
		<a href = "/p/{{post.postid}}/"> {{post.created}}</a>
		{% for comment in comments %}
			{% if comment.postid == post.postid %}
				<a href="/u/{{comment.owner}}/">{{comment.owner}}</a>
				<p>{{comment.text}}</p>
			{% endif %}
		{% endfor %}
			
			<!-- Number of Likes -->
		{% if post["likes"] == 1 %}
			<p>1 like</p>
		{% else %}
			<p>{{post["likes"]}} likes</p>
		{% endif %}
			
			<!-- Like / Dislike Button -->
		{% if not post.postid in log_likes :%}
			<form action="/" method="post" enctype="multipart/form-data">
				<input type="hidden" name="postid" value={{post.postid}}/>
				<input type="submit" name="like" value="like"/>
			</form>
		{% else %}
			<form action="/" method="post" enctype="multipart/form-data">
				<input type="hidden" name="postid" value="{{post.postid}}"/>
				<input type="submit" name="unlike" value="unlike"/>
			</form>
		{% endif %}

		
		<!-- Comment Button -->
		<form action="/" method="post" enctype="multipart/form-data">
			<input type="hidden" name="postid" value={{post.postid}}/>
			<input type="text" name="text"/>
			<input type="submit" name="comment" value="comment"/>
		</form>
	{% endfor %}


</body>
</html>  

